.idea/workspace.xml
*.pyc
*.png
*.jpg
*.sqlite
fra241project.egg-info/dependency_links.txt
FRA241PROJECT.egg-info/not-zip-safe
FRA241PROJECT.egg-info/SOURCES.txt
FRA241PROJECT.egg-info/top_level.txt
FRA241PROJECT.egg-info/PKG-INFO
FRA241PROJECT.egg-info/requires.txt