<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>ระบบกิจกรรมนักศึกษา-โครงการค่าย</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="${request.static_url('FRA241PROJECT:static/assets/ico/FIBO2.jpg')}">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel="stylesheet" href="css/style.css">

    <!-- library of header-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="${request.static_url('FRA241PROJECT:static/index/vendor/bootstrap/css/bootstrap.min.css')}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="${request.static_url('FRA241PROJECT:static/index/vendor/font-awesome/css/font-awesome.min.css')}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="${request.static_url('FRA241PROJECT:static/index/vendor/magnific-popup/magnific-popup.css')}" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="${request.static_url('FRA241PROJECT:static/index/css/creative.min.css')}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="${request.static_url('FRA241PROJECT:static/indexAddproject/bootstrap.css')}"/>
    <link rel="stylesheet" href="${request.static_url('FRA241PROJECT:static/indexAddproject/bower_components/Font-Awesome/css/font-awesome.css')}"/>
    <link rel="stylesheet" href="${request.static_url('FRA241PROJECT:static/indexAddproject/build.css')}"/>
<style type="text/css">
      body { background-color:#ff9900;  }
      h2 {font-size: 150%}
      <!--การเปรียบเทียบกิจกรรม-->
    </style>
    <!-- วัตถุประสงค์0-->
    <script type="text/javascript">
      function CreateNewRow0(text)
      {
        var intLine = parseInt(document.add_project_form.OJ.value);
        intLine++;

        var theTable = document.all.OJExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"50\" NAME=\"OJ"+intLine+"\" VALUE=\""+text+"\">"
        //***<input type="text" size = "10" name = "OJ1_"+intLine "value = "">     "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"OJ1_"+intLine+"\" VALUE=\"\">"***//


        document.add_project_form.OJ.value = intLine;
      }

      function RemoveRow0()
      {
        intLine = parseInt(document.add_project_form.OJ.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.OJExp :
                  document.getElementById("OJExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.OJ.value = intLine;
        }
      }
    </script>
    <!-- ผู้รับผิดชอบ1-->
    <script type="text/javascript">
      function CreateNewRow1(text)
      {
        var intLine = parseInt(document.add_project_form.P_R.value);
        intLine++;

        var theTable = document.all.P_RExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"50\" NAME=\"P_R"+intLine+"\" VALUE=\""+text+"\">"
        //***<input type="text" size = "10" name = "P_R1_"+intLine "value = "">     "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"P_R1_"+intLine+"\" VALUE=\"\">"***//


        document.add_project_form.P_R.value = intLine;
      }

      function RemoveRow1()
      {
        intLine = parseInt(document.add_project_form.P_R.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.P_RExp :
                  document.getElementById("P_RExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.P_R.value = intLine;
        }
      }
    </script>
    <!-- ผู้เข้าร่วม2-->
    <script type="text/javascript">
      function CreateNewRow2(text)
      {
        var intLine = parseInt(document.add_project_form.P_M.value);
        intLine++;

        var theTable = document.all.P_MExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"50\" NAME=\"P_M"+intLine+"\" VALUE=\""+text+"\">"
        //***<input type="text" size = "10" name = "P_M1_"+intLine "value = "">     "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"P_M1_"+intLine+"\" VALUE=\"\">"***//


        document.add_project_form.P_M.value = intLine;
      }

      function RemoveRow2()
      {
        intLine = parseInt(document.add_project_form.P_M.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.P_MExp :
                  document.getElementById("P_MExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.P_M.value = intLine;
        }
      }
    </script>
    <!-- ค่าใช้จ่ายในการจัดกิจกรรม3-->
    <script type="text/javascript">
      function CreateNewRow3(text)
      {
        var intLine = parseInt(document.add_project_form.BGT.value);
        intLine++;

        var theTable = document.all.BGTExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"50\" NAME=\"BGT"+intLine+"\" VALUE=\""+text+"\">"
        //***<input type="text" size = "10" name = "BGT1_"+intLine "value = "">     "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"BGT1_"+intLine+"\" VALUE=\"\">"***//


        document.add_project_form.BGT.value = intLine;
      }

      function RemoveRow3()
      {
        intLine = parseInt(document.add_project_form.BGT.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.BGTExp :
                  document.getElementById("BGTExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.BGT.value = intLine;
        }
      }
    </script>
    <!-- งบประมาณโดยละเอียด4-->
    <script type="text/javascript">
      function CreateNewRow4( order,descrip,value)
      {
        var intLine = parseInt(document.add_project_form.D_B.value);
        intLine++;

        var theTable = document.all.D_BExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"D_B1_"+intLine+"\" VALUE=\""+order+"\">"
        //***<input type="text" size = "10" name = "D_B1_"+intLine "value = "">     "<INPUT TYPE=\"TEXT\" SIZE=\"10\" NAME=\"D_B1_"+intLine+"\" VALUE=\"\">"***//

        //*** Column 2 ***//
        newCell = newRow.insertCell(1)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"30\" NAME=\"D_B2_"+intLine+"\" VALUE=\""+descrip+"\">"
        //*** Column 3***//
        newCell = newRow.insertCell(2)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"15\" NAME=\"D_B3_"+intLine+"\" VALUE=\""+value+"\">"

        document.add_project_form.D_B.value = intLine;
      }

      function RemoveRow4()
      {
        intLine = parseInt(document.add_project_form.D_B.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.D_BExp :
                  document.getElementById("D_BExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.D_B.value = intLine;
        }
      }
    </script>
    <!--ตารางกิจกรรม5-->
    <script type="text/javascript">
      function CreateNewRow5(time,descrip)
      {
        var intLine = parseInt(document.add_project_form.schedule.value);
        intLine++;

        var theTable = document.all.scheduleExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"20\" NAME=\"schedule1_"+intLine+"\" VALUE=\""+time+"\">"

        //*** Column 2 ***//
        newCell = newRow.insertCell(1)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"30\" NAME=\"schedule2_"+intLine+"\" VALUE=\""+descrip+"\">"

        document.add_project_form.schedule.value = intLine;
      }

      function RemoveRow5()
      {
        intLine = parseInt(document.add_project_form.schedule.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.scheduleExp :
                  document.getElementById("scheduleExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.schedule.value = intLine;
        }
      }
    </script>
    <!--ผลที่คาดว่าจะได้รับ6-->
    <script type="text/javascript">
      function CreateNewRow6(time)
      {
        var intLine = parseInt(document.add_project_form.Benefits.value);
        intLine++;

        var theTable = document.all.BenefitsExp
        var newRow = theTable.insertRow(theTable.rows.length)
        newRow.id = newRow.uniqueID

        var item1 = 1
        var newCell

        //*** Column 1 ***//
        newCell = newRow.insertCell(0)
        newCell.id = newCell.uniqueID
        newCell.setAttribute("className", "css-name");
        newCell.innerHTML = "<INPUT TYPE=\"TEXT\" SIZE=\"50\" NAME=\"Benefits1_"+intLine+"\" VALUE=\""+time+"\">"


        document.add_project_form.Benefits.value = intLine;
      }

      function RemoveRow6()
      {
        intLine = parseInt(document.add_project_form.Benefits.value);
        if(parseInt(intLine) > 0)
        {
          theTable = (document.all) ? document.all.BenefitsExp :
                  document.getElementById("BenefitsExp")
          theTableBody = theTable.tBodies[0];
          theTableBody.deleteRow(intLine);
          intLine--;
          document.add_project_form.Benefits.value = intLine;
        }
      }
    </script>

  </head>
  <!--Header-->
  <body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="${request.route_url('home')}">${request.user.user_id}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <?python role_teacher = True if request.user.role == "Teacher" or request.user.role=="GOD" else False ?>
          <?python role_admin = True if request.user.role == "Admin" else False ?>
          <li tal:condition = "role_teacher">
            <a class="page-scroll" href="${request.route_url('teacherProject')}">    <big class="glyphicon glyphicon-ok"></big></a> <!--ตรวจโครงการ-->
          </li>

          <li tal:condition = "role_admin">
            <a class="page-scroll" href="${request.route_url('adminProject')}">    <big class="glyphicon glyphicon-ok"></big></a> <!--ตรวจโครงการ-->
          </li>

          <li>
            <a class="page-scroll" href="#status">    <big class="glyphicon glyphicon-globe"></big></a> <!--status-->
          </li>

          <li>
            <a class="page-scroll" href="#profile"> <big class="glyphicon glyphicon-user"></big></a><!--รprofile-->
          </li>

          <li>
            <a class="page-scroll" href="${request.route_url('logout')}">LOG OUT</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <br>
  <br>
  <br>
  <!--Header-->
  <body>

    <div class="container">

    <form class="well form-horizontal" action=" " method="post" name="add_project_form" id="add_project_form">
<fieldset>

<!-- Form Name -->
<legend>โครงการค่าย</legend>

  <label align = 'center' class="col-md-3 control-label">ข้อมูลที่กรอก</label>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
      60%
    </div>
  </div>

  <div class="form-group">
      <fieldset disabled>
    <label class="col-md-3 control-label">ชื่อโครงการ</label>
  <div class="col-md-5 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
  <input  name="P_N" id="disabledTextInput" class="form-control" value = "${project_title}"  type="text" placeholder="Disabled input" disabled>
    </div>
  </div>
      </fieldset>
</div>
  <div class="form-group">
    <label class="col-md-3 control-label" >ปีการศึกษา</label>
    <div class="col-md-5 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  <input name="Year"  class="form-control"  value = "${project_year}" type="text">
    </div>
  </div>
</div>

  <div class="form-group">
    <label class="col-md-3 control-label" >วันที่เริ่มจัดกิจกรรม</label>
  <div class="col-md-5 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      <input name="Date-start"  class="form-control" value = "${start_date}" type="text" placeholder="DD/MM/YY">
    </div>
  </div>
</div>
  <div class="form-group">
    <label class="col-md-3 control-label" >วันที่สิ้นสุดจัดกิจกรรม</label>
  <div class="col-md-5 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      <input name="Date-finish"  class="form-control"  value = "${finish_date }" type="text" placeholder="DD/MM/YY">
    </div>
  </div>
</div>
  <div class="form-group">
    <label class="col-md-3 control-label" >สถานที่จัดกิจกรรม</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
        <input name="P_P"  class="form-control" value="${project_activity_location}"  type="text">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">หลักการและเหตุผล</label>
    <div class="col-md-5 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
      <textarea class="form-control" name="Reason_Project" value = "${project_reason}">${project_reason}</textarea>
    </div>
  </div>
</div>
  <div class="form-group">
    <label class="col-md-3 control-label">วัตถุประสงค์</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="OJ" value="0">

        <button name="btnAddOJ" type="button" id="btnAddOJ" class="btn btn-success" onClick="CreateNewRow0('');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDelOJ" type="button" id="btnDelOJ" class="btn btn-danger" onClick="RemoveRow0();"><i class="glyphicon glyphicon-minus-sign"></i> </button>

        <table class="table table-striped"  id="OJExp">
          <tr>
            <script tal:repeat = "obj OJ_" >CreateNewRow0("${obj}");</script>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">การเทียบค่ากิจกรรม</label>
    <div class="col-md-6 inputGroupContainer">
      <div class="input-group">
        <div class="radio radio-success">
          <input type="radio" name="myradio" id="myradio1" value="1" tal:attributes = "checked myradio1 | nothing" >
          <label >กิจกรรมเลือกเข้าร่วม</label>
        </div>
        <div class="radio radio-success">
          <input type="radio" name="myradio" id="myradio2" value="2" tal:attributes = "checked myradio2 | nothing">
          <label >กิจกรรมที่ไม่นับหน่วยชั่วโมง</label>
        </div>

        <div id="place_select">
          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7" >
                    <input id="checkbox1" name="checkbox1" value="1" class="styled" type="checkbox" tal:attributes =  "checked Checkbox1 | nothing">
                    <label for="checkbox1">ด้านพัฒนาทักษะทางวิชาการและวิชาชีพ</label>
              </div>
              <div class="col-md-4"><input type="text" name="CB1" id="CB1" tal:attributes =  "value Checkbox1|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
            </div>
          </div>


          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7">
                  <input id="checkbox2" name="checkbox2" value="2" class="styled" type="checkbox" tal:attributes =  "checked Checkbox2| nothing">
                  <label for="checkbox2">ด้านกีฬาและการส่งเสริมสุขภาพ</label>
              </div>
                <div class="col-md-4"><input type="text" name="CB2" id="CB2" tal:attributes =  "value Checkbox2|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
              </div>
            </div>


          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7">
                <input id="checkbox3" name="checkbox3" value="3" class="styled" type="checkbox" tal:attributes =  "checked Checkbox3| nothing">
                <label for="checkbox3">ด้านบำเพ็ญประโยชน์และรักษาสิ่งแวดล้อม</label>
              </div>
              <div class="col-md-4"><input type="text" name="CB3" id="CB3" tal:attributes =  "value Checkbox3|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
            </div>
          </div>

          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7">
                <input id="checkbox4" name="checkbox4" value="4" class="styled" type="checkbox" tal:attributes =  "checked Checkbox4| nothing">
                <label for="checkbox4">ด้านทำนุบำรุงศิลปะและวัฒนธรรม</label>
                </div>
                <div class="col-md-4"><input type="text" name="CB4" id="CB4" tal:attributes =  "value Checkbox4|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
                </div>
              </div>


          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7">
            <input id="checkbox5" name="checkbox5" value="5" class="styled" type="checkbox" tal:attributes =  "checked Checkbox5| nothing">
            <label for="checkbox5">ด้านนันทนาการและการพัฒนาบุคลิกภาพ</label>
              </div>
              <div class="col-md-4"><input type="text" name="CB5" id="CB5" tal:attributes =  "value Checkbox5|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
          </div>
            </div>



          <div class="checkbox checkbox-success">
            <div class="row">
              <div class="col-md-7">
            <input id="checkbox6" name="checkbox6" value="6" class="styled" type="checkbox" tal:attributes =  "checked Checkbox6| nothing">
            <label for="checkbox6">ด้านความภูมิใจ ความรัก ความผูกพันธ์มหาวิทยาลัย</label>
              </div>
              <div class="col-md-4"><input type="text" name="CB6" id="CB6" tal:attributes =  "value Checkbox6|nothing" maxlength="5" style="width:50px;" /> ชั่วโมง</div>
          </div>
          </div>

          <!--/table-->
        </div>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!--<script type="text/javascript" src="js.js"></script>  -->
  <script type="text/javascript">
    $(function(){

      // เมื่อ radio ชื่อว่า myradio ถูก คลิก
      $(":radio[name='myradio']").on("click",function(){
        var valData=$(this).val(); // เก็บค่า ไว้ในตัวแปร
        if(valData==2){ // เปรียบเทียบค่า
          $("#place_select").hide(); // ซ่อนส่วนที่ต้องการ
        }else{
          $("#place_select").show();   //แสดงส่วนที่ต้องการ
        }
      });

    });
  </script>



  <div class="form-group">
    <label class="col-md-3 control-label" >ผู้รับผิดชอบ</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="P_R" value="0">

        <button name="btnAddP_R" type="button" id="btnAddP_R" class="btn btn-success" onClick="CreateNewRow1('');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDelP_R" type="button" id="btnDelP_R" class="btn btn-danger" onClick="RemoveRow1();"><i class="glyphicon glyphicon-minus-sign"></i> </button>

        <table class="table table-striped"  id="P_RExp">
          <tr>
            <script tal:repeat = "PR PR_" >CreateNewRow1("${PR}");</script>


          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" >ระยะเวลาดำเนินการ</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input name="Duration"  class="form-control" value="${project_duration}" type="text">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ผู้เข้าร่วมโครงการ</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="P_M" value="0">

        <button name="btnAddP_M" type="button" id="btnAddP_M" class="btn btn-success" onClick="CreateNewRow2('');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDelP_M" type="button" id="btnDelP_M" class="btn btn-danger" onClick="RemoveRow2();"><i class="glyphicon glyphicon-minus-sign"></i> </button>

        <table class="table table-striped"  id="P_MExp">
          <tr>
            <script tal:repeat = "PM PM_" >CreateNewRow2("${PM}");</script>


          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">รูปแบบการประเมินผล</label>
    <div class="col-md-5 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-align-right"></i></span>
  <input name="evaluation"  class="form-control" value="${project_evaluation}" type="text">
    </div>
  </div>
</div>
  <div class="form-group">
    <label class="col-md-3 control-label">ผลที่คาดว่าจะได้รับ</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="Benefits" value="0">
        <button name="btnAdds_Benefits" type="button" id="btnAdd_Benefits" class="btn btn-success" onClick="CreateNewRow6('');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDel_Benefits" type="button" id="btnDel_Benefits" class="btn btn-danger" onClick="RemoveRow6();"><i class="glyphicon glyphicon-minus-sign"></i> </button>
        <table class="table table-striped"  id="BenefitsExp">
          <tr>
            <script tal:repeat = "Bnf project_profit" >CreateNewRow6("${Bnf}");</script>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ค่าใช้จ่ายในการจัดกิจกรรม</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="BGT" value="0">

        <button name="btnAddBGT" type="button" id="btnAddBGT" class="btn btn-success" onClick="CreateNewRow3('');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDelBGT" type="button" id="btnDelBGT" class="btn btn-danger" onClick="RemoveRow3();"><i class="glyphicon glyphicon-minus-sign"></i> </button>

        <table class="table table-striped"  id="BGTExp">
          <tr>
            <script tal:repeat = "bgt BGT_" >CreateNewRow3("${bgt}");</script>


          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">งบประมาณโดยละเอียด</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="D_B" value="0">

        <button name="btnAddD_B" type="button" id="btnAddD_B" class="btn btn-success" onClick="CreateNewRow4(1,'หนังสือ',3);"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDelD_B" type="button" id="btnDelD_B" class="btn btn-danger" onClick="RemoveRow4();"><i class="glyphicon glyphicon-minus-sign"></i> </button>

        <table class="table table-striped"  id="D_BExp">
          <tr>
            <script tal:repeat = "DB DB_" >CreateNewRow4("${DB[0]}","${DB[1]}","${DB[2]}");</script>
            <th><div align="center">ลำดับ</div></th>
            <th><div align="center">รายละเอียด</div></th>
            <th><div align="center">จำนวนเงิน(บาท)</div></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ตารางการดำเนินกิจกรรม</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        <textarea class="form-control" name="S_A" value = "{N/A}">{N/A}</textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ตารางกิจกรรม</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input type="hidden" name="schedule" value="0">
        <button name="btnAdds_chedule" type="button" id="btnAdd_schedule" class="btn btn-success" onClick="CreateNewRow5('','');"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button name="btnDel_schedule" type="button" id="btnDel_schedule" class="btn btn-danger" onClick="RemoveRow5();"><i class="glyphicon glyphicon-minus-sign"></i> </button>
        <table class="table table-striped"  id="scheduleExp">
          <tr>
            <script tal:repeat = "Sch Sch_" >CreateNewRow5("${Sch[0]}","${Sch[1]}");</script>
            <th><div align="center">เวลา</div></th>
            <th><div align="center">รายละเอียด</div></th>

          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ยืมเงินหรือไม่</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <input id="L_M" name="L_M" value="1" class="styled" type="checkbox">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">ดาวน์โหลดเอกสาร</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <a href="${request.route_url('download',project_id = request.matchdict['project_id'])}" class="btn btn-primary " target="_blank">คลิกเพื่อดาวน์โหลด</a>
      </div>
    </div>
  </div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" name = "save_proposal" class="btn btn-warning btn-lg" >บันทึก <span class="glyphicon glyphicon-floppy-disk"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    <!--/div--><!-- /.container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

        <script src="js/index.js"></script>



  </body>
</html>
