<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ระบบกิจกรรมนักศึกษา-โครงการน่าสนใจ</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="${request.static_url('FRA241PROJECT:static/assets/ico/FIBO2.jpg')}">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
    <link rel='stylesheet prefetch'
          href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel="stylesheet" href="css/style.css">

    <!-- library of header-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        body { background-color:#ff9900;  }
        h2 {  font-size: 150%  }
    </style>

</head>
<!--Header-->
<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="${request.route_url('home')}">${request.user.First_name}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <?python role_teacher = True if request.user.role == "Teacher" or request.user.role=="GOD" else False ?>
                <?python role_admin = True if request.user.role == "Admin" else False ?>
                <li tal:condition = "role_teacher">
                    <a class="page-scroll" href="${request.route_url('teacherProject')}">    <big class="glyphicon glyphicon-ok"></big></a> <!--ตรวจโครงการ-->
                </li>

                <li tal:condition = "role_admin">
                    <a class="page-scroll" href="${request.route_url('adminProject')}">    <big class="glyphicon glyphicon-ok"></big></a> <!--ตรวจโครงการ-->
                </li>

                <li>
                    <a class="page-scroll" href="#status">    <big class="glyphicon glyphicon-globe"></big></a> <!--status-->
                </li>

                <li>
                    <a class="page-scroll" href="#profile"> <big class="glyphicon glyphicon-user"></big></a><!--รprofile-->
                </li>

                <li>
                    <a class="page-scroll" href="${request.route_url('logout')}">LOG OUT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br>
<br>
<br>
<!--Header-->
<body>
<script type="text/javascript">
    function Alert(url,text){
        //var url = document.summarize_form.project_name.value;
        alert(text);
        if(url){
            window.location = url;

        }
    }
</script>
<div class="container">
    <form class="well form-horizontal" action=" " method="post" name="Interest_Project" id="Interest_Project">
        <fieldset>
            <?python bool = True if alert != "" else False?>
            <script tal:condition = "bool">Alert("${request.route_url('home')}",alert);</script>
            <!-- Form Name -->
            <legend>โครงการน่าสนใจ</legend>

            <table class="table table-bordered">
                <tr class="active">
                    <td class="active">${project.title}</td>
                </tr>
                <tr class="active">
                    <td class="info" id=""></td>
                </tr>
                <tr class="active">
                    <td class="active">${project.leader.First_name}</td>
                </tr>
                <tr class="active">
                    <td class="info" id=""></td>
                </tr>
                <tr class="active">
                    <td class="active">${project.start_date}</td>
                </tr>
                <tr >
                    <td class="info" id=""></td>
                </tr>
                <tr class="active">
                    <td class="active">${project.proposal.activity_location}</td>
                </tr>
                <tr class="active">
                    <td class="info" id=""></td>
                </tr>
                <tr class="active">
                <td class="active">${' '.join(project.proposal.objective.split(unichr(171)))}</td>
                </tr>
                <tr class="active">
                    <td class="info" id=""></td>
                </tr>
                <tr class="active">
                    <td class="active">${project.proposal.Reason}</td>
                </tr>
                <tr class="active">
                    <td class="info" id=""></td>
                </tr>


            </table>



            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" name="enroll" class="btn btn-warning btn-lg">ขอเข้าร่วม <span
                            class="glyphicon glyphicon-check"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<!--/div><!-- /.container -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script src="js/index.js"></script>


</body>
</html>
