<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="action_page.php">
    ปีการศึกษา :
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select name="year1">
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
  </select>
    &nbsp;&nbsp;&nbsp;
    ภาคเรียนที่ :
  <select name="year2">
      <option value="1">1</option>
      <option value="2">2</option>
  </select>
    &nbsp;&nbsp;&nbsp;
    ชื่อโครงการ :
    <input type="text">
    &nbsp;&nbsp;&nbsp;
    โครงการย่อย :
    <input type="text">
    <br><br>
    หัวหน้าโครงการ :
    &nbsp;
     <input type="text">
    &nbsp;&nbsp;&nbsp;
    งบประมาณโครงการ :
    <input type="text">
    <br><br>
    เป็นโครงการ :
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="gender" value="เริ่มใหม่" checked> เรื่มใหม่<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <input type="radio" name="gender" value="ต่อเนื่อง"> ต่อเนื่อง
    <br><br>
    ประเภทโครงการ :

    <input type="radio" name="gender" value="1" checked> 1..... <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="gender" value="2" > 2..... <br>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="gender" value="3" > 3..... <br><br>

    ระยะเวลา :
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    โครงการ เริ่มต้น
    <input type="date">
    สิ้นสุด
    <input type="date">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    วันดำเนินงาน ตั้งแต่ :
    <input type="date">
    ถึง
    <input type="date">
    <br><br>
     หลักการและเหตุผล :
    &nbsp;
    <textarea name="message" rows="5" cols="50">บลาๆๆๆ</textarea>
    &nbsp;
    วัตถุประสงค์ :
    &nbsp;
    <textarea name="message" rows="5" cols="50">บลาๆๆๆ</textarea>
    <br><br>
    สถานที่ดำเนินการ :
    &nbsp;&nbsp;&nbsp;&nbsp;
    <textarea name="message" rows="5" cols="50">บลาๆๆๆ</textarea>
    &nbsp;
    การประเมิน :
    &nbsp;&nbsp;
    <textarea name="message" rows="5" cols="50">บลาๆๆๆ</textarea>
    <br><br>

  <br><br>
  <input type="submit">
</form>

</body>
</html>



